$bg-color-first: rgba(255, 255, 255, 1);
$bg-color-second: rgba(248, 248, 248, 1);

$text-color-first: rgba(26, 26, 26, 1);
$text-color-second: rgba(79, 86, 101, 1);
$text-color-third: rgba(175, 181, 192, 1);
$text-color-btn: rgba(255, 255, 255, 1);

$accent-color: rgba(111, 252, 45, 1);

$other-color-first: rgba(244, 255, 238, 1);
