@import '../../assets/scss/main.scss';

.register {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  overflow-y: hidden;

  &Block {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    padding: 50px 60px;

    width: 574px;

    background-color: #fff;
    border: 3px dashed $accent-color;
    border-radius: 8px;

    &__close {
      position: absolute;
      right: 60px;
      top: 60px;
      cursor: pointer;
    }

    &__title {
      color: $text-color-first;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 86px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      &Input {
        border-radius: 12px;
        border: 1.5px solid $accent-color;
        height: 72px;
        padding: 15px 39px;
        text-align: center;

        color: $text-color-first;
        font-size: 25px;
        font-weight: 400;
      }

      &Text {
        color: $text-color-second;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 200px;

        span {
          color: $accent-color;
          font-size: 18px;
          font-weight: 600;
        }
      }

      &Btn {
        border-radius: 12px;
        background-color: $accent-color;
        height: 60px;

        color: #fff;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 850px) {
  .register {
    &Block {
      width: 90%;
      padding: 28px 36px;
      top: 70px;

      &__close {
        width: 15px;
        height: 15px;
        right: 36px;
        top: 36px;
      }

      &__title {
        font-size: 24px;
        margin-bottom: 40px;
      }

      &__form {
        row-gap: 25px;

        &Input {
          height: 43px;
          padding: 10px 23px;

          font-size: 16px;
        }

        &Text {
          font-size: 12px;
          margin-bottom: 120px;

          span {
            font-size: 16px;
          }
        }

        &Btn {
          height: 37px;
          font-size: 16px;
        }
      }

      &__btn {
        font-size: 16px;
      }
    }
  }
}
