@import '../../assets/scss/main.scss';

.is_bought {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &Btn {
    margin: 0 auto;
    border-radius: 7px;
    background-color: $accent-color;
    padding: 8px 25px;
    height: 33px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
  }
}

.tour_card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  background-color: rgba(249, 250, 251, 1);
  padding: 25px;
  width: 293px;

  &Img {
    width: 146px;
    height: 146px;
    margin: 0 auto;
  }

  &Title {
    color: $text-color-first;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  &Location {
    color: $text-color-second;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  &Price {
    color: $accent-color;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
  }
}

@media (max-width: 1000px) {
  .is_bought {
    &Btn {
      padding: 8px 15px;
      height: 33px;

      font-size: 14px;
    }
  }

  .tour_card {
    row-gap: 6px;

    padding: 15px;
    width: auto;

    &Img {
      width: 85px;
      height: 85px;
    }

    &Title {
      font-size: 12px;
    }

    &Location {
      font-size: 10px;
    }

    &Price {
      font-size: 24px;
    }
  }
}
